.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.title {
    margin-bottom: 0px;
}

.feed {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}