.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    position:relative;
    flex: 0 0 auto;
  }
  
.messages {
    overflow-y:scroll;
    flex: 0 1 auto;
    height: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.chatTextArea {
    margin-right: 10px !important;
    border-radius: 20px !important;
}

.sent {
    font-size: 16px;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    color: white;
    background-color: #1890ff;
    width: auto;
    max-width: 60%;
    float: right;
    word-break: break-word;
}

.received {
    font-size: 16px;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #eee;
    width: auto;
    max-width: 60%;
    float: left;
    word-break: break-word;
}

.sentTS {
    float: right;
}

.sentTS {
    float: right;
}

.inbox {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.lastMsg {}

.inboxActive {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: #1890ff20;
    transition: all 0.1s ease-in-out;
}

.inbox:hover {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    padding: 5px 5px 5px 5px;
}

.inbox > h3 {
    margin: 0px 0px 0px 0px;
}

.inbox > p {
    margin: 0px 0px 0px 0px;
}