.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    transition: all 0.15s ease-in-out;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.comment {
    padding: 10px 10px 10px 10px;
    transition: all 0.15s ease-in-out;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.post:hover {
    background-color: #1890ff10;
}

.handle {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #555;
}

.text {
    font-size: 22px;
    margin-bottom: 0px;
    word-break: break-word;
    color: #555;
}

.commentText {
    font-size: 22px;
    margin-bottom: 0px;
    word-break: break-word;
    color: #555;
}

.text > p {
    font-size: 22px;
    margin-bottom: 0px;
    word-break: break-word;
}

.name {
}

.bottomBar {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.bottomButton {
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    border-color: none;
    cursor: pointer;
    color:#555;
    transition: all 0.15s ease-in-out;
    border-radius: 40px;
}

.bottomHeart:hover {
    color: #c50000;
    background-color: #ff000050;
}

.bottomBookmark:hover {
    color: #00b300;
    background-color: #00ff0050;
}

.bottomShare:hover {
    color: #008bc2;
    background-color: #1890ff50;
}

.bottomComment:hover {
    color: #008bc2;
    background-color: #1890ff50;
}


#postText {
    padding: 10px 0px 0px 0px;
    width: 100vh;
    border: none;
    border-top: none;
    resize: none;
    font-size: 22px;
    height: 100%;
    width: 100%;
    color: #444;
}

#postText:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#postText > textarea {
    border-radius: 0px;
    border: none;
    font-size: 22px;
    padding: 0px 20px 0px 20px;
    min-height: 0px;
}

#postText > textarea:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress {
    height: 3px;
}

.photoParent {
    padding: 10px 10px 10px 10px;
}

.photo {
    height: auto;
    max-height: 750px;
    width: min-content;
    max-width: 100%;
    transition: all 0.15s ease-in-out;
    border-radius: 25px;
}

.emoji {
    padding: 0px 7px 0px 7px;
    margin-bottom: 0px;
    transition: all 0.15s ease-in-out;
    border-radius: 10px;
}

.emoji:hover {
    background-color: #eee;
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
    background-size: cover;
    display: block;
    overflow: hidden;
}

.profileImage {
    max-width: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    margin:5px 10px 0px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.delete {
    float: right;
    transition: all 0.15s ease-in-out;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.delete:hover {
    color: #610000;
    background-color: #ff000050;
    cursor: pointer;
}

.sideStripe {
    height: calc(100% - 4rem);
    margin: 0px 10px 0px 0px;
    width: 0.3rem;
    border-radius: 50px;
    margin: 10px 10px 0px 0px;
    background-color: #1890ff;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: #1890ff;
    padding: 10px 20px 10px 20px;
    margin: 15px 15px 0px 0px;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button > h2 {
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.button:hover {
    background-color: #157ee0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.footer {
    padding: 10px 10px 10px 10px;
}

.mentions {
    font-size: 16px;;
}

.comments {
    width: 100%;
    border-top: 1px solid #157ee030;
    text-align: left;
}

.comment {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: auto;
}

.commentProfileImage {
    width: 10%;
    height: 10%;
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    margin-right: 5px;
}

.commentName {
    margin: 0px 0px 0px 0px;
}

.commentContent {
    height: auto;
    word-break: break-all;
    color: #555;
}

.commentContent > p {
    margin-bottom: 0px;
}

.commentImage {
    border-radius: 25px;
    width: 100%;
}

