.container {
    display: 'flex';
    flex-direction: 'column';
    float: right;
    overflow-x: auto;
}

.icon {
    margin-right: 10px;
}

.button {
    display: table
}

.children {
    padding: 10px 20px 10px 20px;
    margin: 15px 15px 0px 0px;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
}

.children:hover {
    color: #1890ff;
    background-color: #1890ff20;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}


.children {
    padding: 10px 20px 10px 20px;
    margin: 15px 15px 0px 0px;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
}

.children:hover {
    color: #1890ff;
    background-color: #1890ff20;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.smallChildren {
    font-size: 1.5em;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 0px 5px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    color: black !important;
}

.smallChildren > i {
    margin: 10px 10px 10px 10px;
}

.smallChildren:hover {
    color: #1890ff;
    background-color: #1890ff20;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.emoji {
    padding: 0px 7px 0px 7px;
    margin-bottom: 0px;
    transition: all 0.15s ease-in-out;
    border-radius: 100%;
}

.emoji:hover {
    background-color: #eee;
    cursor: pointer;
}

.smallPost {
        background-color: #1890ff;
        border-radius: 50%;
        transition: all 0.15s ease-in-out;
}


.smallPost:hover {
    background-color: #157ee0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.smallPost:hover {
    color: white;
    background-color: #157ee0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.smallPost {
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 0px 0px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    color: white !important;
}

.smallPost > i {
    margin: 10px 10px 10px 10px;
}

.smallContainer {
    display: flex;
    flex-direction: column;
    float: right;
    overflow-x: auto;
}